@model TeploobmenOut
@{
    ViewData["Title"] = "Расчёт";
}
<form method="post">
    <p>
    Высота слоя (м):
    <input name="H" value="4">
    Нач. температура окатышей (градусы):
        <input name="t1" value="5">
    Нач. температура воздуха (градусы):
        <input name="T" value="700">
    </p>
    <p>
    Скорость вохдуха на свободное сечение шахты (м/с):
        <input name="w" value="0,74">
    Средняя теплоёмкость воздуха при 200 градусах (кДж/(кг*К):
        <input name="C" value="1,35">
    </p>
    Расход окатышей:
    <input name="Gm" value="1,68">
    Теплоёмкость окатышей:
    <input name="Cm" value="1,49">
    <p><p>
    Диаметр аппарата (м):
        <input name="d"value="2,2">
    Объемный коэффициент теплоотдачи:
        <input name="a" value="2440">
    </p>
    <p>
        <button type="submit"> Рассчитать</button>
    </p>
       
</form>
@if (Model != null)
{
    <diw> <p>Площадь основания S= @Model.square</p> </diw>
    <diw> <p>Отношение теплоемкостей потоков m= @Model.relationship</p></diw>
    <diw> <p>Полная относительная высота слоя Y0= @Model.layer_height <p/> </diw>
    <h2>Таблица результатов</h2>
    <table>
        <tr>
            <td rowspan ="2">&nbsp;</td>
            <td colspan="9"> координаты y, м/td>
        </tr>
        <tr>
            @foreach (var a in Model.coordinates)
            {       
                <td>@a</td>
            }
        </tr>
        <tr>
            <td> Y </td>
            @foreach (var b in Model.Y)
            {       
                <td>@b</td>
            }
        </tr>

        <tr>
            <td> 1-exp(((m-1)Y)/m) </td>
            @foreach (var c in Model.exp1)
            {
                <td>@c</td>
            }
        </tr>
        <tr>
            <td> 1-m*exp(((m-1)Y)/m) </td>
            @foreach (var d in Model.exp2)
            {       
                                    <td>@d</td>
            }
            </tr>
        <tr>
            <td> V </td>
            @foreach (var e in Model.V)
            {
                <td>@e</td>
            }
        </tr>
            <tr>
            <td> O </td>
            @foreach (var f in Model.O)
            {       
                                    <td>@f</td>
            }
            </tr>
        <tr>
            <td> t окатышей </td>
            @foreach (var g in Model.t)
            {
                <td>@g</td>
            }
        </tr>
        <tr>
            <td> T пара </td>
            @foreach (var h in Model.T)
            {
                <td>@h</td>
            }
        </tr>
        <tr>
            <td> Разность температур </td>
            @foreach (var i in Model.t_T)
            {
                <td>@i</td>
            }
        </tr>
    </table>
}
    
